/*
* Módulo:  LMSGI - Lenguaje de marcas y sistemas de gestión de la información
* Unidad:  LMSGI02 - Desarrollo web con HTML5 y CSS3. (20%)
* Tarea:   TE02 - Tarea evaluativa 2 (80%)
* Nombre:  Joseba Ercilla Olabarri
* Fecha:   2022-11-28      
*
* Estilos generales a TODAS las páginas.
*
*/

/* Homogeneizar estilos  */
@import url("normalize.css");

/* Tamaño y tipo de letra de todas las páginas */
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  
  font-family: 'Open Sans', sans-serif;
}

/* Pie de página de todas las páginas */
footer {
  text-align: center;
}
